@page "/device/User-Code-Confirmation"
@model UserCodeConfirmationModel
<div class="consent-container">Model.Device.Consent
    <div class="row page-header">
        <div class="col-sm-10">
            @if (Model.Device.ClientLogoUrl != null)
            {
                <div class="client-logo"><img src="@Model.Device.ClientLogoUrl"></div>
            }
            <h1>
                @Model.Device.ClientName
                <small>is requesting your permission</small>
            </h1>
        </div>
    </div>
    @if (Model.Device.ConfirmUserCode)
    {
        <div class="row">
            <div class="col-sm-8">
                <p>
                    Please confirm that the authorization request quotes the code: "@Model.Device.UserCode".
                </p>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            @await Html.PartialAsync("_ValidationSummary")

            <form asp-page="Callback" class="consent-form">
                <input type="hidden" asp-for="Device.UserCode" />

                <div>Uncheck the permissions you do not wish to grant.</div>

                @if (Model.Device.IdentityScopes.Any())
                {
                    <div class="col-sm-12">
                        <div class="card mt-3">
                            <h5 class="card-header">
                                <i class="fa fa-user"></i>
                                Personal Information
                            </h5>
                            <div class="card-body">
                                <ul class="list-group">
                                    @foreach (var scope in Model.Device.IdentityScopes)
                                    {
                                        @await Html.PartialAsync("_ScopeListItem", scope)
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Device.ApiScopes.Any())
                {
                    <div class="col-sm-12">
                        <div class="card mt-3">
                            <h5 class="card-header">
                                <i class="fa fa-lock"></i>Application Access
                            </h5>
                            <div class="card-body">

                                <ul class="list-group">
                                    @foreach (var scope in Model.Device.ApiScopes)
                                    {
                                        @await Html.PartialAsync("_ScopeListItem", scope)
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Device.AllowRememberConsent)
                {
                    <div class="row m-4">
                        <div class="col-sm-12">
                            <div class="toggle-button__input">
                                <toggle-button>
                                    <input asp-for="Device.RememberConsent" />
                                </toggle-button>
                            </div>
                            <div class="toggle-button__text">
                                <strong>Remember My Decision</strong>
                            </div>
                        </div>
                    </div>
                }

                <div class="row ml-4 mr-4">
                    <div class="col-sm-9 mt-3">
                        <button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                        <button name="button" value="no" class="btn">No, Do Not Allow</button>
                    </div>

                    <div class="col-sm-3 mt-3">
                        @if (Model.Device.ClientUrl != null)
                        {
                            <a class="btn btn-outline-primary" target="_blank" href="@Model.Device.ClientUrl">
                                <i class="fa fa-info-circle"></i>
                                <strong>@Model.Device.ClientName</strong>
                            </a>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>